<?xml version="1.0"?>

<robot name="four_wheel_diff_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

	<!-- robot_description -->
	<xacro:include filename="$(find robot_description)/urdf/robot_description.urdf.xacro"/>

	<xacro:include filename="$(find robot_control)/urdf/control.urdf.xacro"/>

	<gazebo>
		<plugin filename="libgz_ros2_control-system.so"
					name="gz_ros2_control::GazeboSimROS2ControlPlugin">
			<parameters>$(find robot_control)/config/controllers.yaml</parameters>
			<ros>
				<remapping>/diff_drive_controller/cmd_vel_unstamped:=/cmd_vel</remapping>
			</ros>
		</plugin>
		
	</gazebo>

	<!-- Gazebo C32 雷达 -->
	<xacro:include
		filename="$(find robot_gazebo)/urdf/laser_gazebo.urdf.xacro"/>

</robot>
